// Пресет "next/babel" специально разработан для приложений Next.js. Включает в себя набор плагинов и персетов, оптимизированных для проектов Next.js
// Плагин "styled-components" использует расширения функциональности стилизованных компонентов в приложении Next.js. Позволяет выполнять сервесный рендеринг ""ssr": true". Так же он позволяет сохранять отображаемое имя стилизованных компонентов в режиме разработки, устанавливая значение "displayName": true
{
  "presets": ["next/babel"],
  "plugins": [["styled-components", { "ssr": true, "displayName": true }]]
}
// Данная конфигурация Babel - может быть полезной для опеределенных настроек и плагинов Babel
